<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="SeriesTagger3"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="SeriesTagger3">
         </property>
         <property
               name="applicationXMI"
               value="SeriesTagger3/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/SeriesTagger3/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="SeriesTagger.save.episode.expression">
         <with
               variable="episode_at_mouse_click">
            <instanceof
                  value="seriesTagger.datamodel.DataModel$Episode">
            </instanceof>
         </with>
      </definition>
   </extension>

</plugin>
